@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.headerSearch {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ebe9e9;
  border-radius: 1.5rem;
  padding: 1rem;
}

.headerSearchInput {
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
}
.headerSearchItem {
  display: flex;
  align-items: center;
  position: relative;
}
.headerSearchItem .seperator {
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: var(--text-400);
  margin: 0 1rem;
}
.textField {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
.headerIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}
.locationIcon {
  color: var(--rose-500);
}

.guestOptions {
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-100);
  position: absolute;
  top: 2rem;
  width: 220px;
  z-index: 1000;
}
.guestOptionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.guestOptionItem:not(:last-child) {
  margin-bottom: 1rem;
}
.guestOptionItem span,
.guestOptionItem button {
  display: inline-block;
}
.guestOptionItem .optionCounterBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-600);
  background-color: var(--text-100);
}
.optionText {
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  position: absolute;
  top: 50px;
  left: -5rem;
  z-index: 1002;
}

.dateIcon {
  color: var(--primary-700);
}

.dateDropDown {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.headerSearchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-600);
  color: #fff;
  padding: 0.6rem;
  border-radius: 1rem;
}

/* location list */
.nearbyLocation {
  max-width: 1280px;
  margin: 2rem auto;
}
.nearbyLocation h2 {
  margin-bottom: 1rem;
}
.locationList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.locationItem img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.locationItemDesc > :not(:last-child) {
  margin-bottom: 0.2rem;
}

.locationItem .locationItemDesc .name {
  color: var(--text-400);
}
.locationItem .locationItemDesc .location {
  font-weight: 500;
}
.locationItem .locationItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.locationItem .locationItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}

/* app layout */
.appLayout {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  height: cals(100vh - 130px);
  /* background-color: var(--text-100); */
  align-items: stretch;
}

.sidebar {
  width: 35%;
  overflow-y: scroll;
  padding-right: 1rem;
}

.mapContainer {
  flex: 1;
  background-color: var(--text-100);
  position: relative;
}

.map {
  height: 100%;
}
