@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.headerSearch {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ebe9e9;
  border-radius: 1.5rem;
  padding: 1rem;
}

.headerSearchInput {
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
}
.headerSearchItem {
  display: flex;
  align-items: center;
  position: relative;
}
.headerSearchItem .seperator {
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: var(--text-400);
  margin: 0 1rem;
}
.textField {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
.headerIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}
.locationIcon {
  color: var(--rose-500);
}

.guestOptions {
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-100);
  position: absolute;
  top: 2rem;
  width: 220px;
  z-index: 1000;
}
.guestOptionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.guestOptionItem:not(:last-child) {
  margin-bottom: 1rem;
}
.guestOptionItem span,
.guestOptionItem button {
  display: inline-block;
}
.guestOptionItem .optionCounterBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-600);
  background-color: var(--text-100);
}
.optionText {
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  position: absolute;
  top: 50px;
  left: -5rem;
  z-index: 1002;
}

.dateIcon {
  color: var(--primary-700);
}

.dateDropDown {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.headerSearchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-600);
  color: #fff;
  padding: 0.6rem;
  border-radius: 1rem;
}
